
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<html>
<head>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<style>
        #charContainer {
            widows: 450px;
            height: 400px;
            width: 600px;
            border: 1px solid #0094ff;
            padding: 1px;
            border-radius: 4px;
        }

        #jobtype {
            widows: 180px;
            height: 180px;
            width: 180px;
            padding: 1px;
            border-radius: 4px;
            center;
        }
    </style>*@
    
    <body>

      
        <h2></h2>
       
        @*<div class="col-lg-6">
            <div class="au-card m-b-30">

                <div class="au-card-inner" id="charContaienr">

                    <h3 class="title-2 m-b-40">Taux des Patients Traités et Rendez vous annulé</h3>
                    <canvas id="rdvStat"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="au-card m-b-30">

                <div class="au-card-inner" id="charContaienr">

                    <h3 class="title-2 m-b-40">User Par date</h3>
                    <canvas id="userStat"></canvas>
                </div>
            </div>
        </div>*@


        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    
                    <div class="row m-t-25">
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c1">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-account-o"></i>
                                        </div>
                                        <div class="text">
                                            <h2>@ViewBag.totalDoc</h2>
                                            <span>Total des docteurs inscrits</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c3">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-calendar-note"></i>
                                        </div>
                                        <div class="text">
                                            <h2>@ViewBag.totalRdv</h2>
                                            <span>Total des rendez vous</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart3"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c4">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-money"></i>
                                        </div>
                                        <div class="text">
                                            <h2>$ @ViewBag.totalTarif</h2>
                                            <span>Total des revenus</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart4"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="au-card recent-report">
                                <div class="au-card-inner">
                                    <h3 class="title-2">Activité de docteurs</h3>
                                    <div class="chart-info">
                                        <div class="chart-info__left">
                                            <div class="chart-note">
                                                <span class="dot dot--blue"></span>
                                                <span>Nombre de docteurs inscrits</span>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="recent-report__chart" >
                                        <canvas id="userStat"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="au-card chart-percent-card">
                                <div class="au-card-inner">
                                    <h3 class="title-2 tm-b-5">RDV completé / annulé</h3>
                                    <div class="row no-gutters">
                                        <div class="col-xl-6">
                                            <div class="chart-note-wrap">
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--blue"></span>
                                                    <span>Patients Traité</span>
                                                </div>
                                                <div class="chart-note mr-0 d-block">
                                                    <span class="dot dot--red"></span>
                                                    <span>RDV Annulés</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="percent-chart" id="charRDV">
                                                <canvas id="rdvStat"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




                <script>
     
                    var rdvCanvas = document.getElementById("rdvStat");
                    var repArray = [@ViewBag.ACC,@ViewBag.REJ];
                    //    var repArray = ViewBag.REP;
                    //  var type=[4,3,4,3];
                    var rdvData = {
                        labels: ['Traité', 'Annulé'],
                        datasets: [
                            {
                                data: repArray,
                                backgroundColor: [
                                  "#1988ff"


                                ]
                            }]
                    };

                    var pieChart = new Chart(rdvCanvas, {
                        type: 'pie',
                        data: rdvData
                    });


                </script>





        <script>


                


        </script>

        <script>

              
                var userCanvas = document.getElementById("userStat");
                var repArray = @Html.Raw(Json.Encode(ViewBag.userNumbers));
                var dates = @Html.Raw(Json.Encode(ViewBag.userDates));
                //    var repArray = ViewBag.REP;
                //  var type=[4,3,4,3];
                var userData = {
                    labels: dates ,
                    datasets: [
                        {
                            data: repArray,
                            backgroundColor: [
                              "#1988ff"


                            ],

                        }]
                };
            
                lineChart = new Chart(userCanvas, {
                    type: 'line',
                    data: userData
                });

            


          /*      lineChart.data = [33,55] ; 
                lineChart.update() ;*/
                var paint = function(){
                    $.ajax({
                        url: '/Stat/getStat',
                        type: 'GET',
                        success: function(data) {
                            console.log("fel ajax") ;
                            var array = data;
                            var temp = {
                                labels: dates ,
                                datasets: [
                                    {
                                        data: array ,
                                        backgroundColor: [
                                          "#1988ff"


                                        ],

                                    }]
                            };
                            lineChart.data = temp ;
                            lineChart.update();


                        },
                        error: function() {
                            alert('error');
                        }
                    });//End Ajax
                }
                
            
           setInterval(paint, 3000);


            $(function(){
   
                $('#start').click(function(){
           

                    })
            })

        </script>
       



      <h4>@ViewBag.test</h4> 




        







</body>
</head>
</html>