
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<html>
<head>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        #charContainer {
            widows: 450px;
            height: 400px;
            width: 600px;
            border: 1px solid #0094ff;
            padding: 1px;
            border-radius: 4px;
        }

        #jobtype {
            widows: 180px;
            height: 180px;
            width: 180px;
            padding: 1px;
            border-radius: 4px;
            center;
        }
    </style>
    <body>

        @using (Html.BeginForm("GeneratePDF", "Stat", FormMethod.Get))
        {
            @Html.TextBox("email")
            <input type="submit" value="Search" />
        }
        <h2></h2>
       
        <div class="col-lg-6">
            <div class="au-card m-b-30">

                <div class="au-card-inner" id="charContaienr">

                    <h3 class="title-2 m-b-40">Taux des Patients Traités et Rendez vous annulé</h3>
                    <canvas id="rdvStat"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="au-card m-b-30">

                <div class="au-card-inner" id="charContaienr">

                    <h3 class="title-2 m-b-40">User Par date</h3>
                    <canvas id="userStat"></canvas>
                </div>
            </div>
        </div>




                <script>
     
                    var rdvCanvas = document.getElementById("rdvStat");
                    var repArray = [@ViewBag.ACC,@ViewBag.REJ];
                    //    var repArray = ViewBag.REP;
                    //  var type=[4,3,4,3];
                    var rdvData = {
                        labels: ['Traité', 'Annulé'],
                        datasets: [
                            {
                                data: repArray,
                                backgroundColor: [
                                  "#1988ff"


                                ]
                            }]
                    };

                    var pieChart = new Chart(rdvCanvas, {
                        type: 'pie',
                        data: rdvData
                    });


                </script>





        <script>


                    var userCanvas = document.getElementById("userStat");
                    var repArray = @Html.Raw(Json.Encode(ViewBag.userNumbers));
                    var dates = @Html.Raw(Json.Encode(ViewBag.userDates));
                    //    var repArray = ViewBag.REP;
                    //  var type=[4,3,4,3];
                    var userData = {
                        labels: dates ,
                        datasets: [
                            {
                                data: repArray,
                                backgroundColor: [
                                  "#1988ff"


                                ],

                            }]
                    };

                    var lineChart = new Chart(userCanvas, {
                        type: 'line',
                        data: userData
                    });


        </script>
        @foreach (var x in @ViewBag.userDates)
        {
            <h4>@x</h4>
        }
        @foreach (var x in @ViewBag.userNumbers)
        {
            <h4>@x</h4>
        }



</body>
</head>
</html>