
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DoctorsLayout.cshtml";
}

<h3>Mes messages</h3>

<center>
    <table>
        <tr>
            <td>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>date d'envoi</th>
                    </tr>
                    @foreach (var a in ViewBag.dates)
                    {
                <tr>
                    <td><i class="zmdi zmdi-email"></i></td>
                    <td>@a</td>
                </tr>
                    }
                </table>
            </td>


            <td>

                <table class="table">
                    <tr>

                        <th>message</th>
                        <th>expéditeur</th>
                        <th></th>
                        <th></th>


                    </tr>

                    @foreach (var p in ViewBag.result)
                    {
                        <tr>

                            <td> @p.content </td>
                            @if (@p.patient != null)
                            {
                                <td> @p.patient.email </td> }
                            else
                            {
                                <td></td>
                            }

                            <td>
                                @Html.ActionLink("Details", "Details", new { id = p.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = p.id })
                            </td>

                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>


</center>

